* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 5px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! Container */
main {
  background-color: #efefef;
  width: 90vw;
  padding: 50px 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*! Header Section */
main h1 {
  font-size: 36px;
  margin-bottom: 24px;
}
main h3 {
  margin-bottom: 24px;
}

/*! Input Section */

.input-section input {
  border: 1px solid #0077cc;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  height: 2.5rem;
  padding: 5px;
}

.input-section button {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 5rem;
  font-size: 1.2rem;
}

.input-section input:focus {
  outline: none;
}

.message-section p {
  font-size: 1.2rem;
  margin: 10px 0;
}

@media screen and (min-width: 576px) {
  main {
    max-width: 600px;
  }
  main h1 {
    font-size: 45px;
  }
}

/*! Score Section */

.score-section {
  width: 250px;
  margin: 1rem auto;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;
  font-size: 1.2rem;
}

.score-section p {
  margin: 10px 0;
}

.again-button {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  width: 250px;
  padding: 5px;
}

.bg-green {
  background-color: green;
  color: white;
}
.bg-red {
  background-color: red;
  color: white;
}
.bg-begin {
  background-color: #efefef;
  color: black;
}
